<nav class="navbar navbar-b navbar-trans navbar-expand-md " id="mainNav" style="background-color: rgb(71, 71, 245);">
    <div class="container">
        <a class="navbar-brand js-scroll" href="#page-top">Portofolio Yosi Mughni Swandaru</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
            aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll active" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll" href="/project">Lihat Data</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll" href="/project/create">Tambah Data</a>

            </ul>
        </div>
    </div>
</nav>