<!--/ Section Services Star /-->
<section id="service" class="services-mf route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Services
                    </h3>
                    <p class="subtitle-a">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-monitor"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Web Design</h2>
                        <p class="s-description text-center">
                            Saya menyukai web design , menurut saya berimajinasi dalam design adalah
                            hoby yang sangat menguntungkan
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-code-working"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Web Development</h2>
                        <p class="s-description text-center">
                            Ketika saya melihat code saya berfikir apa yang akan saya buat kedepanya
                            dari situ saya akan mendapatkan ide2 yang baik
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-camera"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Photography</h2>
                        <p class="s-description text-center">
                            Tekadang sesorang membutuhkan inspirasi untuk otaknya dan salah satunya dunia fotografi
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Responsive Design</h2>
                        <p class="s-description text-center">
                            Saya suka bermain css dan editing lainya membuat kehidupan saya sangat berwarna
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-paintbrush"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Blogger</h2>
                        <p class="s-description text-center">
                            Saya suka menulis artikel ataupun hanya sebuah bacaan yang keluar dari otak Saya. saya
                            menggabungkan itu semua layaknya sebuah cerita yang menarik.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-box">
                    <div class="service-ico">
                        <span class="ico-circle"><i class="ion-stats-bars"></i></span>
                    </div>
                    <div class="service-content">
                        <h2 class="s-title">Marketing Services</h2>
                        <p class="s-description text-center">
                            Keuntungan yang lain adalah Wordpres dimana disana kita bisa mendapatkan uang
                            dari google adsends yang cukup untuk kebutuhan di usia muda
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ Section Services End /-->